.buttonBlue
    display inline-block
    position relative
    text-decoration none
    color #fff
    height 30px
    border-radius 3px
    background-color #4195f8
    font-size 14px
    line-height 30px
    text-align center
    border 0
    outline 0
    padding 0 10px
    cursor pointer
    transition all .4s
    box horizontal middle
    span
        padding-top 3px
        line-height 20px
        margin-left 10px

    &:hover
        background-color darken(#4195f8, 20%)