.footer
    .footerMenu
        .footerMenuColumn
            a(href="#").footerMenuItemHeader Продукты
            .footerMenuRow
                a(href="#").footerMenuItem Кейсы
                span ·
                a(href="#").footerMenuItem Экосистема
                span ·
                a(href="#").footerMenuItem SAAS
        .footerMenuColumn
            a(href="#").footerMenuItemHeader О компании
            a(href="#").footerMenuItem Вакансии
        .footerMenuColumn
            a(href="#").footerMenuItem Стоимость
            a(href="#").footerMenuItem Контакты
        .footerContact
            a(href="tel:+8 800 670–90–20").footerPhone
                | 8 800 670–90–20
            .footerSocial
                a(href="#")
                    +svgIcon('icon-fb')
                a(href="#")
                    +svgIcon('icon-yt')
                a(href="#")
                    +svgIcon('icon-vk')
    .footerCopyright © 2013–2017, Дисциплина
