.header
    a(href="#").headerLogo
        .headerLogoIcon
        .headerLogoText
            | Disciplina
    .headerMenu
        a(href="#").headerMenuItem Продукты
        a(href="#").headerMenuItem Стоимость
        a(href="#").headerMenuItem О компании
        a(href="#").headerMenuItem Контакты
    .headerTry
        a(href='#').buttonBlue.js-popup Попробовать