@reset-global pc

*
    box-sizing border-box

a:focus
    outline 0

html
    height 100%
    font-size 16px
body
    position relative
    min-height 100%
    font-family 'PT Sans', sans-serif
    font-weight 400

.main
    background-color #fdfdfd
    padding-top 74px