doctype
html
    head
        title Discipline
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic" rel="stylesheet")
        link(href='./css/main.css', type="text/css", rel="stylesheet")
        //-script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade


    body
        include _svg.pug
        include ./component/_header.pug
        .popup
            .popupClose
                +svgIcon('icon-close')
            .popupContent
                .popupFormHeader
                    h2 Остались вопросы?
                    p Свяжитесь с нами и на ваш вопрос ответи <br> менеджер по поддержке клиентов.
                form.popupForm
                    .popupFormItem
                        input(placeholder="Имя")
                    .popupFormItem
                        input(placeholder="Эл. почта или телефон")
                    .popupFormItem
                        textarea(placeholder="Ваш вопрос")
                    .popupFormItem
                        button(type='submit') Отправить
        .main
            block content
        include ./component/_footer.pug
        script(src="./js/app.js")
