extends _layout

block content
    .welcome
        h1 Показываем как работают люди. В цифрах
        h3 Узнайте, из чего складывается профессионализм, чтобы <br> максимально раскрыть потенциал
        img(src="img/inagte.jpg", alt="")
    .metrica
        h2 Метрики профессионализма
        h3 Посмотрите, как мы показываем информацию <br> о ваших сотрудниках и отделах.
        .metricaContent
            .metricaSliderWrap
                .metricaSlider.swiper-container
                    .swiper-wrapper
                        .metricaSlide.swiper-slide
                            img(src='./img/notebook.png')
                        .metricaSlide.swiper-slide
                            img(src='./img/inagte.jpg')
                        .metricaSlide.swiper-slide
                            img(src='./img/notebook.png')
                        .metricaSlide.swiper-slide
                            img(src='./img/inagte.jpg')
            .metricaSliderControl
                .metricaSliderControlItem.metricaSliderControlItemActive
                    h4 ОБЩАЯ КАРТИНА
                    p Основные метрики и показатели компании собраны на одном экране.  Настройте виджеты под себя.
                .metricaSliderControlItem
                    h4 ЕДИНИЦА СМЫСЛА — ЧЕЛОВЕК
                    p Метрики компании складываются из показателей каждого сотрудника: продуктивность, активности и время.
                .metricaSliderControlItem
                    h4 КАК ДОСТИГАЕТСЯ РЕЗУЛЬТАТ
                    p Аналитические отчеты покажут, где скрыты проблемы и за счет чего достигнуты успехи и победы.
                .metricaSliderControlItem
                    h4 СРАВНИВАЙТЕ СОТРУДНИКОВ И ОТДЕЛЫ
                    p Выявляйте зависимости и сегментируйте ваших работников. Узнавайте как изменения в процессах влияют на их работу.
    .feature
        .featureItems
            .featureItem
                img(src='./img/feature-1.svg')
                h4 РАБОТА СОТРУДНИКОВ
                p Посмотрите, чем заняты ваши сотрудники. Информация о письмах, звонках, встречах и задачах подгружается автоматически.
            .featureItem
                img(src='./img/feature-2.svg')
                h4 ГДЕ ПРЯЧУТСЯ ПРОБЛЕМЫ
                p Найдите в отчетах Дисциплины информацию о неэффективных процессах и ошибках  в организации работы
            .featureItem
                img(src='./img/feature-3.svg')
                h4 МЕТРИКИ КОМПАНИИ
                p Объективно оцените работу сотрудников и отделов. Вводите изменения и замеряйте результат  в цифрах.
    .case
        h2 Кейсы внедрения Дисциплины
        h3 Узнайте, как мы помогаем компаниям из разных отраслей <br> обиваться успеха и улучшать показатели.
        .caseSliderControl
            .caseSliderControlItem.caseSliderControlItemBlue.caseSliderControlItemActive
                | Бухгалтерия
            .caseSliderControlItem.caseSliderControlItemOrange
                | Мэрия Казани
            .caseSliderControlItem.caseSliderControlItemBlack
                | Машиностроение
        .caseSlider.swiper-container
            .swiper-wrapper
                .caseSlide.swiper-slide
                    .caseSlideLeft
                        .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →

                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')
                .caseSlide.swiper-slide
                    .caseSlideLeft
                         .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →

                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')
                .caseSlide.swiper-slide
                    .caseSlideLeft
                        .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →
                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')

    .subscribe
        h2 Дисциплина в вашей компании
        p Оставьте адрес вашей электронной почты, чтобы менеджер связался с вами и провел презентацию.
        form.subscribeForm
            input.input(placeholder="Адрес электронной почты")
            button(type="submit") Попробовать
        .subscribeTrust
            p Нам уже доверяют лидеры Казани и России
            .subscribeTrustLogo
                img(src="img/logos.png")