.case
    box vertical top center
    margin-bottom 70px
    h2
        color #4195f8
        font-size 40px
        line-height 1.15
        text-align center
        margin-bottom 21px
        padding 0 50px
    h3
        color #8d8d8d
        font-size 20px
        line-height 1.4
        text-align center
        margin-bottom 48px
        padding 0 50px

.caseSliderControl
    box horizontal middle center
    padding 0 50px
.caseSliderControlItem
    display inline-block
    margin-right 20px
    border-radius 3px
    height 40px
    padding 0 15px
    font-size 18px
    line-height 40px
    text-align center
    cursor pointer
    transition all .4s
    &:last-child
        margin-right 0

.caseSliderControlItemBlue.caseSliderControlItemActive
        background-color #00c8ff
        color #fff

.caseSliderControlItemBlue
    color #00c8ff
    border solid 1px #00c8ff
    &:hover
        background-color #00c8ff
        color #fff

.caseSliderControlItemOrange.caseSliderControlItemActive
    background-color #f84b25
    color #fff

.caseSliderControlItemOrange
    color #f84b25
    border solid 1px #f84b25
    &:hover
        background-color #f84b25
        color #fff

.caseSliderControlItemBlack.caseSliderControlItemActive
    background-color #5b5b5b
    color #fff

.caseSliderControlItemBlack
    color #5b5b5b
    border solid 1px #5b5b5b
    &:hover
        background-color #5b5b5b
        color #fff

.caseSlider
    width 100%

.caseSlide
    box horizontal middle center
    width 100%

.caseSlideLeft
    lost-column 1/2 2 0 flex

.caseSlideContent
    padding 0 15%
    width 100%
    h3
        text-align left
        font-size 28px
        font-weight bold
        line-height 1.21
        color #00c8ff
        margin-bottom 12px
        padding 0
    p
        font-size 16px
        line-height 1.5
        color #8d8d8d
        margin-bottom 21px
    .buttonBlue
        display inline-block
.caseSlideRight
    lost-column 1/2 2 0 flex
    box horizontal right