.feature
    margin-bottom 100px
    padding 0 50px
.featureItems
    box horizontal top center

.featureItem
    flex 0 1 280px
    max-width 280px
    margin-right 85px
    box vertical top center
    img
        margin-bottom 27px
    h4
        color #7d7d7d
        font-size 16px
        font-weight bold
        letter-spacing 2.3px
        margin-bottom 7px
        transition all .4s
    p
        max-width 280px
        color #7d7d7d
        font-size 16px
        line-height 1.31
        text-align center
    &:last-child
        margin-right 0
