.footer
    box horizontal middle space-between
    padding 25px 50px
    min-height 50px
    background-color #423f58
.footerLeft
    flex 0 1 auto
.footerMenu
    box horizontal top left
.footerMenuColumn
    margin-right 70px
    box vertical top
.footerMenuRow
    box horizontal middle
    span
        padding 0 5px 4px
        font-size 14px
        color #ffffff
.footerMenuItemHeader
    font-size 14px
    font-weight 700
    color #ffffff
    text-decoration none
    margin-bottom 5px
    padding 0
.footerMenuItem
    text-decoration none
    font-size 14px
    color #ffffff
    margin-bottom 5px
.footerContact
    box vertical top left
    margin-left 60px

.footerPhone
    font-size 14px
    font-weight 700
    color #ffffff
    text-decoration none
    margin-bottom 5px

.footerSocial
    box horizontal middle
    a
        margin-right 10px
        box vertical middle center
        size 20px
        svg
            size 14px
            fill #fff

.footerCopyright
    font-size 14px
    line-height 1.71
    padding-right 100px
    color rgba(#fff, .5)