.header
    position fixed
    width 100%
    box horizontal middle space-between
    padding 0 50px
    height 74px
    background-color #ffffff
    border solid 1px #f8f8f8
    z-index 50
.headerLogo
    box horizontal middle
    text-decoration none
    &Icon
        display block
        background-image url('../img/logo@2x.png')
        size 33px
        margin-right 8px
        background-size cover
    &Text
        font-size 24px
        line-height 33px
        font-weight bold
        color #3c3c3c
        padding-top 3px
 .headerMenu
    box horizontal middle
    padding-top 3px
.headerMenuItem
    display block
    position relative
    font-size 14px
    margin-right 20px
    color #4195f8
    text-decoration none
    transition all .4s
    &:after
        content ''
        position absolute
        size 0% 1px
        bottom -1px
        left 0
        background-color darken(#4195f8, 20%)
        transition all .4s
    &:hover
        &:after
            width 100%
.headerTry
    padding-top 3px
    button
        cursor pointer