.metrica
    box vertical top center
    margin-bottom 70px
    h2
        color #4195f8
        font-size 40px
        line-height 1.15
        text-align center
        margin-bottom 21px
        padding 0 50px
    h3
        color #8d8d8d
        font-size 20px
        line-height 1.4
        text-align center
        margin-bottom 55px
        padding 0 50px
.metricaContent
    box horizonta top
    width 100%
    margin-bottom 50px
.metricaSliderWrap
    lost-column 2/3 2 0 flex
.metricaSliderControl
    lost-column 1/3 2 0 flex
    padding-right 50px

.swiper-slide
    background-color #fdfdfd
    img
        max-width 100%

.metricaSliderControl
    box vertical top left

.metricaSliderControlItem
    display block
    border-radius 5px
    padding 20px
    max-width 340px
    margin-bottom 10px
    cursor pointer
    border solid 1px transparent
    transition all .4s
    h4
        color #7d7d7d
        font-size 16px
        font-weight bold
        letter-spacing 2.3px
        margin-bottom 7px
        transition all .4s
    p
        color #7d7d7d
        font-size 14px
        line-height 1.29
    &:hover
        h4
            color #4195f8
    &Active
        border solid 1px #4195f8
        h4
            color #4195f8