.popupOpen
    overflow hidden

.popup
    position absolute
    size 100% 100vh
    top 0
    left 0
    background-color #110e23
    opacity 0
    z-index -1
    pointer-events none
    transition all .5s
.popupShow
    opacity 0.98
    z-index 100
    pointer-events all

.popupClose
    position absolute
    right 48px
    top 48px
    cursor pointer
    svg
        size 48px

.popupContent
    left center
    top center
    z-index 1000
.popupFormHeader
    margin-bottom 43px
    h2
        font-size 40px
        font-weight bold
        line-height 1.15
        text-align center
        color #fff
        margin-bottom 21px
    p
        font-size 20px
        line-height 1.4
        text-align center
        color #fff

.popupForm
    box vertical top center
.popupFormItem
    margin-bottom 20px
    &:last-child
        padding-top 20px
    input
        border solid 1px rgba(255, 255, 255, 0.31)
        background-color rgba(255, 255, 255, 0.04)
        padding 16px 30px
        font-size 24px
        color #fff
        width 460px
        height 60px
        border-radius 3px
    textarea
        border solid 1px rgba(255, 255, 255, 0.31)
        background-color rgba(255, 255, 255, 0.04)
        padding 16px 30px
        font-size 24px
        color #fff
        width 460px
        height 120px
        border-radius 3px
    button
        outline 0
        border 0
        height 60px
        border-radius 3px
        background-color #4195f8
        width 195px
        font-size 24px
        color #fff
        transition all .4s
        &:hover
            background-color darken(#4195f8, 20%)