.subscribe
    box vertical top center
    padding 60px 0
    background-color #423f58
    border-bottom solid 1px rgba(#ffffff, 0.26px)
    >h2
        color #fff
        font-size 40px
        line-height 1.15
        text-align center
        margin-bottom 21px
        padding 0 50px
    >p
        color #fff
        font-size 20px
        line-height 1.4
        text-align center
        margin-bottom 48px
        padding 0 50px

.subscribeForm
    box horizontal middle center
    margin-bottom 80px
    .input
        border solid 1px rgba(255, 255, 255, 0.31)
        border-right 0
        background-color transparent
        padding 16px 30px
        font-size 24px
        color #fff
        width 385px
        height 60px
        border-radius 3px 3px 0 0
    button
        outline 0
        border 0
        height 60px
        border-radius 0 3px 3px 0
        background-color #4195f8
        width 195px
        font-size 24px
        color #fff
        transition all .4s
        &:hover
            background-color darken(#4195f8, 20%)
.subscribeTrust
    padding-bottom 30px
    p
        color #fff
        font-size 20px
        line-height 1.4
        text-align center
        margin-bottom 32px
        padding 0 50px
.subscribeTrustLogo
    box horizontal middle center
    img
        margin-right 30px
        &:last-child
            margin-right 0