.welcome
    padding 55px 50px
    box vertical top center
    margin-bottom 30px
    h1
        color #4195f8
        font-size 40px
        line-height 1.15
        text-align center
        margin-bottom 21px
    h3
        color #8d8d8d
        font-size 20px
        line-height 1.4
        text-align center
        margin-bottom 62px